.alert {
    width: 100%;
    max-width: 766px;
    min-height: 61px;

    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: $white;
    text-align: center;

    border-radius: 9px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .05);

    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10001;

    p {
        margin-bottom: .2em;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &--success {
        background: #05a979 url("#{$img}alert-success.png") no-repeat left center;
        background-size: auto 100%;

        &:before {
            content: "";
            display: block;
            width: 25px;
            height: 18px;

            background: url("#{$img}tick-ico.png") no-repeat;

            position: absolute;
            top: 21px;
            left: 22px;
            z-index: 1;
        }
    }

    &--warning {
        background: #ff9000 url("#{$img}alert-warning.png") no-repeat left center;
        background-size: auto 100%;

        &:before {
            content: "";
            display: block;
            width: 6px;
            height: 26px;

            background: url("#{$img}warning-ico.png") no-repeat;

            position: absolute;
            top: 18px;
            left: 22px;
            z-index: 1;
        }
    }

    &--error {
        background: #b50505 url("#{$img}alert-err.png") no-repeat left center;
        background-size: auto 100%;

        &:before {
            content: "";
            display: block;
            width: 18px;
            height: 18px;

            background: url("#{$img}error-ico.png") no-repeat;

            position: absolute;
            top: 21px;
            left: 22px;
            z-index: 1;
        }
    }

    @media (max-width: 800px) {
        max-width: 500px;
    }

    @media (max-width: 530px) {
        max-width: 300px;

        font-size: 12px;
        text-align: left;

        background-image: none;
    }
}

.alert__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 61px;
    padding: 8px 60px 8px 75px;
    justify-content: center;
    align-items: center;

    @media (max-width: 530px) {
        padding-left: 10px;
    }
}

.alert__close {
    padding: 0;
    width: 17px;
    height: 18px;

    background: url("#{$img}cross-ico.png") no-repeat;
    border: 0;

    color: transparent;
    font-size: 0;

    position: absolute;
    top: 24px;
    right: 24px;
    transform: translateY(-50%);
    z-index: $alert-close-zindex;

    &:focus {
        outline: 0;
    }
}
