.benefits {
    margin: 50px 0;

    @media #{$media_sm} {
        margin-bottom: 0;
    }
}

.benefits__item {
    padding: $benefits-item-padding;

    text-align: $benefits-item-align;
}

.benefits__media {
    width: $benefits-media-width;
    height: $benefits-media-height;
    margin: $benefits-media-margin;

    text-align: $benefits-media-align;

    position: relative;
}

.benefits__icon {
    display: block;
    width: $benefits-icon-width;
    height: $benefits-icon-height;

    color: $benefits-icon-color;
    font-size: $benefits-icon-font-size;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $benefits-icon-zindex;
    margin: auto;
}

.benefits__title {
    margin: $benefits-title-margin;

    font-family: 'Roboto', sans-serif;
    color: $benefits-title-color;
    font-size: 1.4rem;
    line-height: $benefits-title-line-height;
}

.benefits__text {
    font-size: $benefits-text-font-size;
    line-height: $benefits-text-line-height;
    color: $benefits-text-color;
}
