.btn {
    display: inline-block;
    vertical-align: middle;
    padding: $btn-padding;
    margin-bottom: $btn-margin-bottom;

    text-decoration: none;
    border: 0;

    background-color: $btn-default-bg;
    border-radius: 3em;

    color: $btn-default-color;
    font-family: $btn-font-family;
    font-size: $btn-font-size;
    line-height: $btn-line-height;
    text-align: $btn-align;
    cursor: $btn-cursor;

    transition: background-color .1s linear, color .1s linear, border-color .1s linear;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:focus {
        background-color: darken($btn-default-bg, 3%);
        outline: 0;
    }

    &:hover {
        background-color: darken($btn-default-bg, 5%);
    }

    &:active {
        background-color: darken($btn-default-bg, 7%);
    }

    /* Colors */
    @include btn;

    /* Outline */
    @include btn-o;

    &--o2x {
        border-width: 2px;

        @media (max-width: 460px) {
            padding-left: 2em;
            padding-right: 2em;
        }
    }


    /* Sizes */
    &--xs {
        min-height: 0;
        font-size: $btn-xs-font-size;
    }

    &--s {
        min-height: 0;
        font-size: $btn-s-font-size;
    }

    &--m    { font-size: $btn-m-font-size; }
    &--l    { font-size: $btn-l-font-size; }
    &--xl   { font-size: $btn-xl-font-size; }
    &--xxl  { font-size: $btn-xxl-font-size; }
    &--full {
        display: block;
        width: 100%;
    }

    &--o-gradient {
        width: 255px;
        height: 58px;
        padding-left: .5em;
        padding-right: .5em;
        overflow: hidden;

        background: #a54e89;
        background: linear-gradient(to right, #a54e89, #3b3ba4);
        border: 0;
        border-radius: 50px;

        position: relative;
        backface-visibility: hidden;

        color: $white;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.4em;
        text-decoration: none;

        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;

            background-color: $white;
            opacity: 0;
            pointer-events: none;

            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            transition: opacity .1s linear;
        }

        &.invert {
            background: #3b3ba4;
            background: linear-gradient(to right, #3b3ba4, #a54e89);
        }

        &:hover,
        &:focus {
            &:before {
                opacity: .1;
            }
        }
    }

    &--o-violet {
        background: linear-gradient(to bottom, #a477cf, #c869b9);
        border: 2px solid $white;
        color: $white;
        text-transform: uppercase;
        font-weight: 900;
    }
}

.btn-long {
    display: block;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 572px;
    height: 79px;
    position: relative;

    font-family: 'Gilroy', 'Roboto', sans-serif;
    text-align: center;
    color: $white;
    font-size: 19px;
    font-weight: 900;
    line-height: 79px;

    background: url("#{$img}long-btn-bg.svg") no-repeat;
    background-size: cover;

    @media (max-width: 615px) {
        background: linear-gradient(#a54e89, #3b3ba4);
        border-radius: 40px;
        font-size: 16px;
    }
}

.back__btn {
    display: inline-block;
    padding: 7px 40px;
    margin-top: 20px;

    border: 0;
    background: linear-gradient(#464c58 50%, #282d38 51%, #282d38 100%);
    border-radius: 5px;

    color: $white;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;

    transition: opacity .1s linear;

    &:hover {
        opacity: .9;
        text-decoration: none;
    }
}
