.footer {
    margin-top: -100px;

    background: linear-gradient(rgba($real-black, 0) 25%, $real-black);

    text-align: center;
}

.footer__inner {
    width: 100%;
    max-width: 767px;
    margin: 0 auto;
}

.footer__text {
    margin-top: 35px;

    font-size: 14px;
    line-height: 1.2;
    color: $white;
    font-family: 'Gilroy', 'Roboto', sans-serif;

    p {
        margin-bottom: 15px;
    }
}

.footer__social {
    padding: 35px 0 35px;

    border-bottom: 1px solid #666;
}

.footer__social-title {
    margin-bottom: 20px;

    font-family: 'Gilroy', 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: #954b92;
    text-align: center;
}

.footer__social-item {
    display: inline-block;
    vertical-align: top;
    margin: 0 19px;
}

.footer__address {
    padding: 22px 0;
    font-family: 'Gilroy', 'Roboto', sans-serif;
    color: $white;
    font-size: 14px;
    font-style: normal;

    p {
        margin-bottom: 15px;
    }
}
