.help {
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    border-radius: 50%;

    color: #38a0f2;

    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 10;

    i {
        position: relative;
        z-index: 2;
    }

    &:before {
        content: "";
        display: block;
        width: 30px;
        height: 30px;

        background-color: $white;
        border-radius: 50%;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        margin: auto;
    }
}
