.input {
    display: block;
    width: 100%;
    padding: $input-padding;
    min-height: $input-height;

    font-size: $input-font-size;
    line-height: $input-line-height;
    font-family: inherit;
    color: $input-color;

    border: 0;
    border-radius: 0;
    box-shadow: $input-shadow-default;
    background-color: $input-bg;
    appearance: none;

    transition: background-color .1s linear;

    &:focus {
        background-color: $input-bg-focus;
        outline: 0;
    }

    &::placeholder {
        color: $input-placeholder-color;
    }


    /* Styling */
    &--rounded { border-radius: $input-style-rounded; }
    &--ellipse { border-radius: $input-style-ellipse; }
    &--shadow  { box-shadow: $input-style-shadow; }

    &--slide {

        &::placeholder {
            transition: padding-left .3s linear;
        }

        &:focus::placeholder {
            padding-left: 150%;
        }
    }

    &--fade {

        &::placeholder {
            transition: opacity .2s linear;
        }

        &:focus::placeholder {
            opacity: 0;
        }
    }


    /* States */
    &--error {
        @include input-state($input-error);
    }

    &--success {
        @include input-state($input-success);
    }
}

.input__wrapper {
    position: relative;

    &--label {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        .label {
            margin-bottom: 0;
            white-space: nowrap;
        }

        .btn { margin-bottom: 0; }
    }

    &--icon-before {
        .input       { padding-left: 2.1em; }
        .input__icon { left: .7em; }
    }

    &--icon-after {
        .input       { padding-right: 2.1em; }
        .input__icon { right: .7em; }
    }

    &--icon-before,
    &--icon-after {
        .input {
            &:focus + .input__icon {
                color: $input-icon-color-focus;
            }
        }
    }
}

.input__icon {
    font-size: inherit;
    color: $input-icon-color;

    position: absolute;
    top: 50%;
    z-index: 1;

    transform: translateY(-50%);
    transition: color .1s linear;
}

.input__label {
    min-height: $input-height;
    padding: $input-label-padding;

    background-color: $input-label-bg;

    font-size: $input-label-font-size;
    line-height: $input-label-line-height;
    color: $input-label-color;
    white-space: nowrap;
    cursor: pointer;
}
