.intro {
    position: relative;
    z-index: 10;
}

.intro__top-left,
.intro__top-right,
.intro__bottom-left,
.intro__bottom-right {
    width: 60%;
    height: 350px;

    position: absolute;
    z-index: 1;

    &:before {
        content: "";
        width: 100px;
        height: 100%;

        position: absolute;
        top: 0;
        z-index: 2;
    }

    &:after {
        content: "";
        width: 100%;
        height: 100px;

        position: absolute;
        left: 0;
        z-index: 2;
    }
}

.intro__top-left,
.intro__top-right {
    top: -20px;

    &:after {
        background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, 1));

        bottom: 0;
    }
}

.intro__bottom-left,
.intro__bottom-right {
    bottom: 0;

    &:after {
        background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .1));

        top: 0;
    }
}

.intro__top-left,
.intro__bottom-left {
    left: 0;

    &:before {
        left: 0;
        background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, .1));
    }
}

.intro__top-right,
.intro__bottom-right {
    right: 0;

    &:before {
        right: 0;
        background: linear-gradient(to right, rgba(0, 0, 0, .1), rgba(0, 0, 0, 1));
    }
}

.intro__content {
    width: 100%;
    min-height: 407px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;

    background: url("#{$img}police-hat.png") center top no-repeat;

    @media #{$media_height} {
        min-height: 265px;
        background-size: auto 93%;
    }
}

.intro__logo {
    @media #{$media_height} {
        width: 220px;
    }
}

.intro__title {
    margin: 40px 0 60px;

    font-family: 'Gilroy', 'Roboto', sans-serif;
    color: $white;
    font-size: 3em;
    line-height: 1;

    text-align: center;
    font-weight: normal;

    @media #{$media_height} {
        font-size: 2em;
        margin: 20px 0 0;
    }

    @media #{$media_sm} {
        font-size: 1.5em;
    }
}

.intro__btns {
    text-align: center;

    .btn {
        margin: 0 10px 5px;
    }
}
