.join {
    height: 235px;
    padding: 30px 0;
    background: #0052a4 url("#{$img}join-us-bg.jpg") center no-repeat;
}

.join__list {
    text-align: center;
}

.join__list-item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 30px;
}
