.join {
    height: 235px;
    padding: 30px 15px 0;
    background: #0052a4 url("#{$img}join-us-bg.jpg") center no-repeat;

    @media #{$media_sm} {
        height: auto;
        background-size: cover;
    }
}

.join__list {
    text-align: center;
}

.join__list-item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 30px 15px;

    @media #{$media_sm} {
        margin: 0 15px 15px;
    }
}
