.label {
    display: inline-block;
    vertical-align: baseline;
    margin-right: $label-margin-right;
    margin-bottom: $label-margin-bottom;

    font-size: $label-font-size;
    line-height: $label-line-height;
    color: $label-color;
    cursor: pointer;
}
