.media {
    padding: 30px 15px;

    background-color: #111114;
    border-top: 1px solid #333335;
    border-bottom: 1px solid #333335;
}

.media__text {
    width: 100%;
    max-width: 680px;
    margin: 30px auto 45px;

    font-size: 18px;
    line-height: 1.4;
    color: $white;
    font-style: italic;
    text-align: center;

    p {
        margin-bottom: 15px;
    }
}

.media__forbes {
    width: 100%;
    max-width: 680px;
    margin: 0 auto 50px;
    position: relative;

    img {
        padding: 0 12px;
        position: relative;
        z-index: 2;

        background-color: #111114;
    }

    &:before,
    &:after {
        content: "";
        display: block;
        width: 50%;
        height: 1px;

        position: absolute;
        top: 50%;
        z-index: 1;
    }

    &:before {
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));

        left: 0;
    }

    &:after {
        background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

        right: 0;
    }
}

.media__items {
    text-align: center;
}

.media__items-item {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 15px;
}
