.nav {
    width: 100%;
    padding: 20px 10px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    font-family: 'Gilroy', 'Roboto', sans-serif;
    text-align: center;

    &.fixed {
        background-color: rgba($real-black, .9);
    }

    @media #{$media_sm} {
       padding: 10px;
        font-size: .9em;
    }
}

.nav__item {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    padding-top: .15em;
    padding-bottom: .15em;

    color: $white;

    &:hover {
        text-decoration: underline;
    }

    &--rounded {
        padding-left: .8em;
        padding-right: .8em;
        border: 2px solid $white;
        border-radius: 30px;

        transition: background .1s linear, color .1s linear;

        &:hover,
        &:focus {
            background-color: $white;
            text-decoration: none;
            color: $real-black;
        }
    }
}
