.news {
    display: flex;
    flex-wrap: wrap;
    height: 550px;

    @media #{$media_sm} {
        height: auto;
    }
}

.news__half {
    width: 50%;
    height: 100%;
    padding: 0 15px;

    @media #{$media_sm} {
        width: 100%;
        margin-bottom: 20px;

        #twitter-widget-0 {
            height: 320px !important;
        }
    }
}

.news__title {
    padding-bottom: 5px;

    font-family: 'Gilroy', sans-serif;
    font-size: 20px;
    color: $black;
    font-weight: 900;
}

.news__list {
    overflow: auto;
    max-height: 460px;
    margin: 0 0 20px;
    padding: 0;
    list-style: none;

    li {
        min-height: 100px;
        padding: 15px 0 15px 150px;
        position: relative;
        border-top: 1px solid #e6ebee;

        color: $black;
        font-size: 14px;
        line-height: 1.3;

        a {
            color: $black;
        }
    }
}

.news__image {
    width: 130px;

    position: absolute;
    top: 15px;
    left: 0;
    z-index: 1;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.news__see-all {
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    color: $black;
    text-decoration: underline;

    position: absolute;
    bottom: 11px;
    left: 15px;
    z-index: 1;

    &:hover {
        text-decoration: none;
    }
}

.news__medium {
    height: 100%;
    padding: 11px 15px;
    position: relative;

    background-color: $white;
    border-radius: 5px;
}
