.partners__section {
    background: #0052a4 url("#{$img}checkout/bg.jpg") 50% no-repeat;
    background-size: auto 100%;
}

.partners {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem 0;
}

.partners__item {
    flex: 1;
    margin: 0 1rem;
    text-align: center;

    @media #{$media_md} {
        flex: auto;
        width: 100%;
        max-width: 400px;
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.partners__text {
    margin-top: .5rem;

    color: $white;
    font-size: .9rem;
}
