.roadmap {
    padding: 30px 15px;

    background-image: url("#{$img}roadmap-top.png"), url("#{$img}roadmap-bottom.png");
    background-color: #111114;
    background-repeat: no-repeat;
    background-position: center top, center bottom;
    border-top: 1px solid #333335;
    border-bottom: 1px solid #333335;
}
