.tabs {
    width: 100%;
    margin: 65px auto 0;
}

.tabs__item:not(.active) { display: none; }

.tabs__nav {
    text-align: center;
}

.tabs__nav-item {
    display: inline-block;
    vertical-align: top;
    padding: $tabs-item-padding;

    font-size: 18px;
    color: $white;
    text-transform: uppercase;
    font-weight: bold;

    transition: color .1s linear;

    &:focus { text-decoration: none; }

    &:hover {
        text-decoration: underline;
    }

    &.active {
        position: relative;
        color: #9f4b8b;

        &:after {
            content: "";
            display: block;
            border-style: solid;
            border-width: 0 8.5px 9px 8.5px;
            border-color: transparent transparent #a14b8a transparent;

            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        &:hover {
            text-decoration: none;
        }
    }
}

.tabs__content {
    font-size: $tabs-content-font-size;
    color: $tabs-content-color;
    line-height: $tabs-content-line-height;
    border-radius: 20px;
    overflow: hidden;

    p {
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.tabs__item-header {
    padding: 35px 45px;
    background-color: #a14b8a;
    background: linear-gradient(#a14b8a, #4d48be);
    border-bottom: 1px solid #05050b;

    font-size: 18px;
    font-weight: 300;
    color: $white;

    p { margin-bottom: 0; }

    &:empty {
        padding-top: 10px;
        padding-bottom: 10px;
        background: #a14b8a;
    }
}

.tabs__item-content {
    padding: 35px 45px;

    background-color: #4d48be;
    background: linear-gradient(rgba(77, 72, 190, .5), rgba(77, 72, 190, 0));

    font-size: 18px;
    color: $white;
    font-weight: 300;
}

.tabs__bounties {
    padding: 20px 40px 0;
}
