.team {
    background-color: $real-black;
}

.team__inner {
    height: 647px;
    padding-top: 70px;
    position: relative;

    background: url("#{$img}team-bg.png") center bottom no-repeat;

    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 70px;
        background: linear-gradient(rgba($real-black, 0), $real-black);

        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
    }
}

.team__item {
    padding: 0 65px;

    color: $white;
    text-align: center;
}

.team__ava {
    width: 139px;
    height: 139px;
    position: relative;
    margin: 0 auto 30px;

    background: url("#{$img}team-avatar-bg.png") center no-repeat;

    img {
        display: block;
        width: 115px;
        height: 115px;

        border-radius: 50%;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        margin: auto;
    }
}

.team__name {
    margin-bottom: 12px;

    font-size: 18px;
    font-weight: bold;
}

.team__job {
    margin-bottom: 12px;

    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.team__text {
    font-size: 14px;
}
