.timer {
    margin: 40px 0 80px;

    text-align: center;
    color: $white;
    font-weight: 300;

    @media #{$media_height} {
        margin-bottom: 50px;
    }

    @media #{$media_sm} {
        margin: 20px 0 50px;
    }
}

.timer__title {
    margin: 0 0 5px;

    color: $white;
    font-weight: 300;
    font-size: 1.5em;

    &:after {
        content: "\f107";
        display: block;
        font-family: 'fontAwesome';
    }

    @media #{$media_height} {
        font-size: 1.2em;
    }
}

.timer__item {
    display: inline-block;
    vertical-align: top;
    width: 53px;
    height: 53px;
    position: relative;
    margin: 0 8px;

    &:after {
        display: block;
        width: 100%;

        text-align: center;
        font-weight: 500;
        color: $white;
        font-size: 12px;

        position: absolute;
        bottom: -20px;
        left: 0;
    }

    &--days {
        background: linear-gradient(to right, #a24f84, #914189);

        &:after {
            content: "days";
        }
    }

    &--hours {
        background: linear-gradient(to right, #703fad, #5e45bd);

        &:after {
            content: "hours";
        }
    }

    &--min {
        background: linear-gradient(to right, #7640ac, #6143ba);

        &:after {
            content: "minutes";
        }
    }

    &--sec {
        background: linear-gradient(to right, #85409d, #6f41b1);

        &:after {
            content: "seconds";
        }
    }
}

.timer__inner {
    width: 49px;
    height: 49px;

    font-family: 'Gilroy', 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 49px;
    font-weight: 900;
    text-align: center;
    color: $white;

    background-color: $real-black;

    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
}
