.timeline {
    margin-top: 70px;
    position: relative;
}

.timeline__inner {
    display: flex;
    flex-direction: column;
}

.timeline__item {
    width: 100%;
    max-width: 430px;
    margin-top: -50px;

    position: relative;

    &:before {
        content: "";
        display: block;
        width: 9px;
        height: 9px;

        background: linear-gradient(#9e4b8c, #5148bb);
        border-radius: 50%;

        position: absolute;
        top: 73px;
        z-index: 2;
    }

    &:after {
        content: "";
        display: block;
        width: 1px;
        height: calc(100% - 50px);
        background-color: $white;

        position: absolute;
        top: 80px;
        z-index: 1;
    }

    &:first-child {
        margin-top: 0;
    }

    &:nth-child(odd) {
        align-self: flex-start;
        float: left;
        text-align: right;
        padding-right: 25px;

        .timeline__date:after {
            background: linear-gradient(to right, rgba(#111114, 0), #666);

            right: -15px;
        }

        &:before {
            right: -11px;
        }

        &:after {
            right: -7px;
        }
    }

    &:nth-child(even) {
        align-self: flex-end;
        float: right;
        padding-left: 25px;

        .timeline__date:after {
            background: linear-gradient(to left, rgba(#111114, 0), #666);

            left: -15px;
        }

        &:before {
            left: -8px;
        }

        &:after {
            left: -4px;
        }
    }

    &:last-child {
        &:after {
            display: none;
        }
    }
}

.timeline__date {
    padding-bottom: 10px;
    margin-bottom: 12px;
    position: relative;
    font-family: 'Gilroy', 'Roboto', sans-serif;

    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;

        background: linear-gradient(to right, rgba(#111114, 0), $white);

        position: absolute;
        bottom: 0;
        z-index: 1;
    }
}

.timeline__day {
    color: #9e4b8c;
    font-size: 30px;
    font-weight: 900;
    line-height: 1;
}

.timeline__month {
    color: #5148bb;
    font-size: 14px;
    text-transform: uppercase;
}

.timeline__year {
    color: $white;
    font-size: 14px;
    text-transform: uppercase;
}

.timeline__content {
    color: $white;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 300;
}
