.watch-video {
    height: 238px;
    padding: 0 15px;

    background: #aa379c url("#{$img}watch-video-bg.jpg") left top no-repeat;
    background-size: auto 100%;

    @media (max-width: 900px) {
        height: auto;
    }
}

.watch-video__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    @media (max-width: 900px) {
        flex-wrap: wrap;
    }
}


.watch-video__first {
    text-align: center;
    order: 1;

    @media (max-width: 900px) {
        width: 100%;
        flex-basis: 50%;
        padding-left: 80px;
        padding-top: 20px;
        order: 2;
    }

    @media (max-width: 510px) {
        padding-left: 0;
    }
}

.watch-video__photo {
    padding-left: 60px;
    order: 2;

    img {
        display: block;
        height: 300px;

        position: relative;
        bottom: 31px;
        z-index: 1;
    }

    @media (max-width: 900px) {
        width: 100%;
        flex-basis: 50%;
        order: 3;
        padding-left: 0;
        position: relative;

        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;

            bottom: -30px;
        }
    }
}

.watch-video__content {
    padding-left: 60px;
    order: 3;

    @media (max-width: 900px) {
        width: 100%;
        text-align: center;

        order: 1;
        padding-left: 0;
    }
}

.watch-video__title,
.watch-video__subtitle {
    font-family: 'Gilroy', sans-serif;
    line-height: 1.2;
    font-weight: 300;
    color: $white;
}

.watch-video__title {
    font-size: 24px;
}

.watch-video__subtitle {
    margin-bottom: 30px;
    font-size: 18px;
}

.watch-video__name {
    margin-bottom: 10px;

    font-family: 'Gilroy', sans-serif;
    line-height: 1.2;
    font-size: 30px;
    color: $white;
    font-weight: 900;
    text-transform: uppercase;
}

.watch-video__prof {
    font-family: 'Gilroy', sans-serif;
    line-height: 1.2;
    font-weight: 300;
    color: $white;
    font-size: 18px;
}

.watch-video__btn {
    display: inline-block;
    vertical-align: top;
    padding: 5px 15px;
    margin-top: 20px;

    background: transparent;
    border: 3px solid $white;
    border-radius: 30px;

    font-family: 'Gilroy', sans-serif;
    font-weight: 900;
    color: $white;
    font-size: 18px;
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;

    transition: color .1s linear, background .1s linear;

    &:hover,
    &:focus {
        background-color: $white;
        color: $black;
        text-decoration: none;
    }
}
